{% extends 'bootstrap/base.html' %}
{% block body %}
    <div class="container">
        {% for record in db_records %}
        <div class="row">
            <div class="col col-md-2">
                <h1>id</h1>
            </div>
            <div class="col col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Body</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Edit</a>
                  </div>
                </div>
            </div>
            <div class="col col-md-2">
                <h1>type</h1>
                <p>opt out</p>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    {% block content %}
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
    {% endblock %}
{% endblock %}